<!DOCTYPE html>
<html>
<head>
  <title>XmlToExcel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="menu">
    <div class="container-fluid">
			<div class="navbar-header">
				<a href="#">XML To Excel Sheet</a>
			</div>
		</div>
	</div>
</head>
<body>

<%= yield %>

</body>
</html>
